@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color-100: rgba(255, 249, 240, 1);
  --primary-color-200: rgba(255, 234, 204, 1);
  --primary-color-400: rgba(255, 149, 0, 0.724);
  --primary-color-500: rgba(255, 149, 0, 1);

  --gray-color-100: rgba(241, 241, 243, 1);
  --gray-color-200: rgba(247, 247, 248, 1);
  --gray-color-300: rgba(101, 101, 103, 1);
  --gray-color-500: rgba(89, 89, 90, 1);
  --color-gray-600: rgba(76, 76, 77, 1);
  --gray-color-800: rgba(38, 38, 38, 1);
}

body {
  background-color: var(--gray-color-200);
  color: #262626;
}

.layout {
  max-width: 1596px;
  margin-left: 16px;
  margin-right: 16px;
}

.base-layout {
  margin-top: 50px;
  max-width: 1920px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1024px) {
  .base-layout {
    margin-top: 100px;
  }
  .layout {
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (min-width: 1280px) {
  .base-layout {
    padding-left: 0;
    padding-right: 0;
  }
  .layout {
    margin-left: 162px;
    margin-right: 162px;
  }
}

@media (min-width: 1600px) {
  .base-layout {
    margin-top: 150px;
  }
  .layout {
    margin-left: 162px;
    margin-right: 162px;
  }
}
