@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color-100: rgba(255, 249, 240, 1);
  --primary-color-200: rgba(255, 234, 204, 1);
  --primary-color-400: rgba(255, 149, 0, 0.724);
  --primary-color-500: rgba(255, 149, 0, 1);

  --gray-color-100: rgba(241, 241, 243, 1);
  --gray-color-200: rgba(247, 247, 248, 1);
  --gray-color-500: rgba(89, 89, 90, 1);
  --color-gray-600: rgba(76, 76, 77, 1);
  --gray-color-800: rgba(38, 38, 38, 1);
}

body {
  background-color: var(--gray-color-200);
  color: #262626;
}
